<form>
  <label for="author">Author</label>
  {{input value=author id="author"}}
  <label for="content">Content</label>
  {{input value=content id="content"}}
  <button {{action 'addQuestion'}} type="button" name="button">Add Question</button>
</form>
