<form>
  <label for="creator">Author</label>
  {{input value=creator id="creator"}}
  <label for="answer">Answer</label>
  {{input value=answer id="answer"}}
  <button {{action 'addAnswer'}}>Add Answer</button>
</form>
