<div local-class="container">
  <img src="https://s3.eu-central-1.amazonaws.com/bynk-blog/bynk-blog/thing2.jpeg" local-class="{{showHide}} imageThing">
  <img src="{{comp.content}}" local-class="{{hideShow}} imageThing" onload={{action 'imageLoaded'}}>
</div>