{{!-- <div local-class="container">
  <img src="https://s3.eu-central-1.amazonaws.com/bynk-blog/bynk-blog/thing2.jpeg" local-class="{{showHide}} imageThing">
  <img src="{{comp.content}}" local-class="{{hideShow}} imageThing" onload={{action 'imageLoaded'}}>
</div> --}}

  <div local-class="container">
    <div local-class="imageThing" style="background:url(https://s3.eu-central-1.amazonaws.com/bynk-blog/bynk-blog/thing2.jpeg) center;"></div>
  </div>