<%= "<h2>#{@message}</h2>" %>
<hr>
<a href="/feed" method="post" class="btn btn-success">feed</a>
<a href="/play" method="post" class="btn btn-info">play</a>
<a href="/nap" method="post" class="btn btn-warning">nap</a>
