<div id="buttons">
  <a id="new-word" href="/new-word" class="btn btn-default">Add a word!</a>
  <a id="clear" href="/" class="btn btn-default">Delete all words!</a>
</div>


<ul>
  <% word_array = [] %>
  <% @dictionary.each do |word| %>
  <% word_array.push(word.word) %>
  <% end %>
  <% word_array.sort! %>
  <% word_array.each do |word| %>
    <li><a href="/<%= word %>"><%= word %></a></li>
  <%  end %>
</ul>
