<h2>Here you can add a new word!</h2>

<form action="/new-word/add" method="post">
  <label for="word"></label>
  <input id="word" class="form-control" type="text" name="word" placeholder = "New word">
  <label for="definition"></label>
  <input id="definition" class="form-control" type="text" name="definition" placeholder="Definition">
  <button type="submit" id="submit" class="btn">Add word</button>
</form>