<!-- Hompage content -->
<h3>Enter your parcels dimensions and weight to find your shipping cost.</h3>
<form class="input" action="/result">
  <label for="length">Length</label>
  <input id="length" class="form-control" type="text" name="length">
  <label for="width">Width</label>
  <input id="width" class="form-control" type="text" name="width">
  <label for="weight">Weight</label>
  <input id="weight" class="form-control" type="text" name="weight">
  <button class="btn" type="submit" name="submit">submit</button>
</form>
