html {
  font-family: 'PT Sans Narrow', sans-serif;
}

body {
  margin: 0;
  background-color: #c7b299;
}

div {
  width: 100%;
  background-color: #455442;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  display: inline;
  font-size: 20px;
  margin: 7px;
}

a {
  text-decoration: none;
  color: #EBE4C4;
}

h1 {
  font-family: 'Francois One', sans-serif;
  font-size:60px;
  font-style: normal;
  text-align: left;
  /*color: ;*/
  margin: 200px 0 0 0;
  padding: 0 0 0 70px;
}

h2 {
  font-family: 'Francois One', sans-serif;
  font-size:30px;
  font-style: normal;
  text-align: left;
  /*color: ;*/
  margin: 15px 0;
  padding: 0 0 0 70px;
}

.imgh {
  font-family: 'Francois One', sans-serif;
  font-size:30px;
  font-style: normal;
  text-align: left;
  /*color: ;*/
  margin: 15px 0;
  padding: 0 0 120px 70px;
}

p {
  margin: 15px 15px 15px 0;
  width: 50%;
  padding: 0 0 0 70px;
}

.bodyimg {
  width: 100%;
  margin: 0px 0;
  max-height: 70em;
}
