body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

/*topbar*/

div.hbox {
  height: 500px;
  /*vertical-align: middle;*/
  /*line-height: 300px;*/
  background-color: #89ecda;
}

h1 {
  text-align: center;
  margin: 0 0 0 0 ;
  /*vertical-align: middle;
  line-height: 300px;*/
  padding: 200px 0 0 0;
  color: 	#9f1e07;
  font-size: 68px;
}

h2 {
  text-align: center;
  color: #9f1e07;
}

/*main content*/

div.img {
  float: left;
  width: 30%;
  margin: 15px;
}

img {
  width: 100%;
}

span.flashy{
  color: #9f1e07;
  font-style: italic;
}

span.best {
  color: #89ecda;
  text-transform: uppercase;
  font-weight: bold;
}

 /*footer*/

div.footer {
  background-color: #9f1e07;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: center;
}

li {
  list-style: none;
  display: inline;
  padding: 15px;
  color: #89ecda;
}

a {
  text-decoration: none;
  color:#89ecda;
}
