<h2>Here you can add a new definition!</h2>

<form action="/new-word/add" method="post">
  <label for="word">Enter a word</label>
  <input id="word" type="text" name="word">
  <button type="submit" id="submit">Add word</button>
</form>