<h1>City: <%= @city['name'] %></h1>

<a href="/city/edit/<%= @city['id']%>">Edit city</a>

<form action="/city/delete/<%= @city['id']%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete city</button>
</form>
