<div class="row">
  <div class="col-md-6">
    <h3>Trains:</h3>
    <ul>
      <% @trains.each do |train| %>
      <a href="/train/<%= train['id'] %>"><li><%= train['name'] %></li></a>
      <% end %>
    </ul>
    <form action="/add_train" method="post">
      <input type="text" name="train" placeholder="Name a train">
      <button type="submit">Add train</button>
    </form>
  </div>

  <div class="col-md-6">
    <h3>Cities:</h3>
    <ul>
      <% @cities.each do |city| %>
      <a href="/city/<%= city['id'] %>"><li><%= city['name'] %></li></a>
      <% end %>
    </ul>
    <form action="/add_city" method="post">
      <input type="text" name="city" placeholder="Name a city">
      <button type="submit">Add city</button>
    </form>
  </div>
</div>
