<div class="row">
  <div class="col-md-6">
    <% @projects.each do |project| %>
      <a href="project/<%= project['id'] %>"><li><%= project['name'] %></li></a>
    <% end %>

    <form action="/add_project" method="post">
      <input type="text" name="project" placeholder="Name a project">
      <button type="submit">Add project</button>
    </form>
  </div>

   <div class="col-md-6">
    <% @volunteers.each do |volunteer| %>
      <a href="volunteer/<%= volunteer['id'] %>"><li><%= volunteer['name'] %></li></a>
    <% end %>

    <form action="/add_volunteer" method="post">
      <input type="text" name="volunteer" placeholder="Name a volunteer">
      <button type="submit">Add volunteer</button>
    </form>
  </div>
</div>


