<!-- Hompage content -->
<form class="input" action="/result">
  <label for="side1">Side 1</label>
  <input id="side1" class="form-control" type="text" name="side1">
  <label for="side2">Side 2</label>
  <input id="side2" class="form-control" type="text" name="side2">
  <label for="side3">Side 3</label>
  <input id="side3" class="form-control" type="text" name="side3">
  <button class="btn" type="submit" name="submit">submit</button>
</form>
