<% @projects.each do |project| %>
  <a href="project/<%= project['id'] %>"><li><%= project['name'] %></li></a>
<% end %>

<% @volunteers.each do |volunteer| %>
  <a href="volunteer/<%= volunteer['id'] %>"><li><%= volunteer['name'] %></li></a>
<% end %>