<div class="vh-100 dt w-100 bg-dark-gray white cover" style="background:url(/img/home.jpeg) no-repeat center;">
  <nav class="dt w-100 border-box pa3 home-nav" >
    <a class="dtc v-mid mid-gray link w-25" href="/" title="Home">
      <h1 class="fw6 db black link hover-dark-pink">mccsn</h1>
    </a>
    <div class="dtc v-mid w-75 tr home-nav-right">
      <a class="link dark-gray f6 f4-ns dib mr3 mr4-ns" href="/stores" title="stores">Stores</a>
      <a class="link dark-gray f6 f4-ns dib mr3 mr4-ns" href="/brands" title="brands">Brands</a>
    </div>
  </nav>
</div>