<h2>Here you can add a new word!</h2>

<form>
  <label for="word">Enter a word</label>
  <input id="word" type="text" name="word">
  <label for="definition">Enter the definition</label>
  <input id="definition" type="text" name="definition">
  <button type="submit"></button>
</form>