<div class="cf w-100 pa7-ns info">
  <form action="/stores/new" method="post">
    <label for="new-name" class="f6 b db mb2">Name</label>
    <input type="text" name="name" class="input-reset ba b--black-20 pa2 mb2 db w-50" required>
    <label for="new-location" class="f6 b db mb2">Location</label>
    <input type="text" name="location" class="input-reset ba b--black-20 pa2 mb2 db w-50" required>
    <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Add store"></div>
  </form>
</div>