<h1>Train: <%= @train["name"] %></h1>

<a href="/train/edit/<%= @train['id']%>">Edit train</a>

<form action="/train/delete/<%= @train['id']%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete train</button>
</form>
