<% if current_user %>
  <h1>Pictures your tagged in</h1>
  <% @photos.each do |photo| %>
    <%= link_to image_tag(photo.image), photo_path(photo) %>
    <%= photo.description %>
  <% end %>
<% else %>
  <h1>landing page baby</h1>
<% end %>
