.hideMe {
  visibility: hidden;
}

.showMe {
  visibility: visible;
}

.container {
  composes: mv5 from global;
  overflow: hidden;
  height: 90vh;
}

.imageThing {
  composes: db from global;
  position: absolute;
  left: 30%;
  height: 90%;
  width: auto;
}