.hideMe {
  visibility: hidden;
}

.showMe {
  visibility: visible;
}

.container {
  overflow: hidden;
  height: 90vh;
}

.imageThing {
  composes: db from global;
  position: absolute;
  left: 25%;
  height: 90%;
  width: auto;
}