body {
  margin: 0;
}

img {
  width: 100%;
}

div.intro {
  padding: 40px 60px;
}

.intro h1 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  font-size: 60px;
}

.intro h2 {
  /*font-family: 'Cormorant Garamond', serif;*/
  font-family: 'Alfa Slab One', cursive;
  font-weight: 300;
}

.intro p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
}
