
<form {{action "createSong" on="submit"}}>
  {{input type="text" placeholder="artist" value=artist}}
  {{input type="text" placeholder="title" value=title}}
  <button type="submit">Add</button>
</form>
