<h1>Questions</h1>

{{new-question newQuestion='addQuestion'}}

{{#each model as |question|}}
  {{#link-to 'question' question.id}}
  <div class="question-tile w-60 pv3">
    {{question-tile question=question updateQuestion='updateQuestion'}}
  </div>
  {{/link-to}}
{{/each}}