<nav class="pl4 pt4 pv4 mb5">
  <div class="nowrap overflow-x-auto">
    <%= link_to "Home", root_path, class: "link hover-green dib mr3 f5-ns" %>
    <%= link_to "Products", products_path, class: "link hover-light-purple dib mr3 f5-ns" %>
  </div>
</nav>