.content {
  margin: 0 1rem;
}

.home-nav {
  padding: 1rem 0 1rem 2rem;
}

.store-brand-nav {
  padding-left: 2rem;
  padding-right: 2rem;
}

.hidden {
  visibility: hidden;
}

.info {
  padding-top: 0;
} 

.edit {
  margin-top: 10vh;
  display: none;
}

.vanish {
  float: right;
}

.header {
  display: inline-block;
}

.ph5-ns {
  padding-left: 1rem;
  padding-right: 1rem;
}
