<form action="/result">
  <div class="form-group">
    <label for="input_string">Enter an amount in cents:</label>
    <input type="text" class="form-control" id="input_string" name="input_string">
  </div>
  <button type="submit" name="button" class="btn">please</button>
</form>
