<div contenteditable="false" > 
  {{!-- {{#if edit}} --}}
    <div contenteditable="true" {{action 'initSaveChanges' on='focusOut'}}>{{comp.content}}</div>
  {{!-- {{else}}
    <p>{{comp.content}}</p>
  {{/if}} --}}
 </div> 
