

<div id="selectMenu">
  <select (change)="onChangeUser($event.target.value)">
    <option value="AllUsers" selected="selected">All climbers</option>    
    <option value="All">All rounders</option>
    <option value="Trad">Trad</option>
    <option value="Sport">Sport</option>
    <option value="Bouldering">Bouldering</option>
    <option value="Aid">Aid</option>
  </select>
</div>

<div class="user" *ngFor="let user of users | type:climbingType">
  <h2 class="userDetail" (click)="goToDetail(user)">{{user.name}}</h2>
  <div *ngIf="currentRoute === '/admin'">
        {{user.bio}}
        <hr>
        <app-edit-user [selectedUser]="user"></app-edit-user>
  </div>
</div>

