<h1>Index for products works</h1>

<article>
  <div class="cf pa2">
    <% @products.each do |product| %>
      <div class="fl w-50 w-25-m w-20-l pa2">
        <%= link_to product_path(product) do %>
          <%= image_tag product.image %>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Name</dt>
            <dd class="ml0 black truncate w-100 tc"><%= product.name %></dd>
            <dt class="clip">Price</dt>
            <dd class="ml0 black truncate w-100 tc"><%= product.price %></dd>
          </dl>
        <% end %>
      </div>
    <% end %>
  </div>
</article>


  