
<nav class="pl5 pt5">
  <a href="#" local-class="nav-item-home">Bynk</a>
  <a href="#" local-class="nav-item">Climbers</a>
  <a href="posts" local-class="nav-item">Writing</a>
</nav>

<div local-class="header">
  <h1 local-class="title">bynk productions</h1>
  <img local-class="logo" src="assets/images/IMG_0248.png" alt="">
</div>

<div local-class="content">
  
</div>