{{#each model as |post|}}
  {{#link-to 'post' post local-class="post-tile"}}
  <article local-class="post-tile-article">
    <div local-class="post-tile-row">
      <div local-class="post-tile-text">
        <h2>{{post.title}}</h2>
        <p>{{post.teaser}}</p>
      </div>
      <div local-class="post-tile-image">
        <img src="http://i.huffpost.com/gen/1985279/images/o-ROCK-CLIMBING-SUNSET-facebook.jpg" class="db" alt="Photo of a dimly lit room with a computer interface terminal.">  
      </div>
    </div>
    <p local-class="post-tile-author">By <span class="ttu">{{post.author}}</span></p>
    <time local-class="post-tile-date">Nov. 21, 2016</time>
  </article>
  {{/link-to}}
{{/each}}

