<form action="/contacts/addnew" method="post">
  <label for="first_name">first_name</label>
  <input class="form-control" type="text" name="first_name">

  <label for="last_name">last_name</label>
  <input class="form-control" type="text" name="last_name">

  <label for="street">street</label>
  <input class="form-control" type="text" name="street">

  <label for="city">city</label>
  <input class="form-control" type="text" name="city">

  <label for="state">state</label>
  <input class="form-control" type="text" name="state">

  <label for="zip">zip</label>
  <input class="form-control" type="text" name="zip">

  <label for="email">email</label>
  <input class="form-control" type="text" name="email">

  <label for="cell">cell</label>
  <input class="form-control" type="text" name="cell">

  <button class="btn" type="submit" name="button">Submit</button>

</form>
