<nav class="ph3 ph5-ns pt4 pv4 mb5">
  <div class="nowrap overflow-x-auto">
    <%= link_to "home", root_path, class: "link dib mr3 f5-ns" %>
    <%= link_to "products", products_path, class: "link dib mr3 f5-ns" %>
  </div>
</nav>